@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

/* Font-face definitions */
@font-face {
  font-family: 'Alagard';
  src: url('../../public/fonts/alagard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraftia-Regular';
  src: url('../../public/fonts/Minecraftia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('../../public/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* CSS variables */
:root {
  --outline-width: 4px;
  --shadow-width: 4px;

  --button-background: #30bce2;
  --secondary-button-background: #27c9f5;
  --shadow-color: #30bce2;
}

/* Global styles */

html {
  scroll-behavior: smooth !important;
}
body {
  /* overflow: hidden; */
}
/* 
.scroll-snap-parent {
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100svh;
  scroll-behavior: smooth !important;
}

.scroll-snap-child {
  scroll-snap-align: center;
  scroll-margin-top: 0px;
}
@media (max-width: 768px) {
  .scroll-snap-child {
    scroll-margin-top: 0;
  }
} */

.project-html--wrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.project-html {
  max-width: 100%;
  background: #fff;
  max-height: 100%;
  border-radius: 6px;
}
.project-html--wrapper > div {
  position: absolute;
  width: 50svw;
  height: 100%;
  left: 0;
  z-index: 1;
}

.project-html--wrapper div > div {
  position: absolute;
  width: 100%;
  @apply container mx-auto;
  height: 80svh;
  left: 0;
  z-index: 10;
  border-radius: 8px;
}

.project-iframe {
  border: none;
  border-radius: 0 0 6px 6px;
}

.card-game-canvas {
  @apply w-full h-full bg-red-500/30;
  position: absolute !important;
  inset: 0;
  z-index: 0;
}

.text-shadow-blue {
  text-shadow: 4px 3px 0px #336fa0;
}
.text-shadow-sm {
  text-shadow: 2px 1px 0px #336fa0;
}

.text-shadow-blue-dark {
  text-shadow: 3px 2px 0px #336fa0;
}

/* .text-outline {
  -webkit-text-stroke: 1px #30b1e680;
} */

/* Button styles */
.eightbit-btn {
  background: var(--button-background);
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  /* color: white; */
  box-shadow: inset calc(-1 * var(--shadow-width)) calc(-1 * var(--shadow-width)) 0px 0px var(--shadow-color);
}

.eightbit-btn:hover,
.eightbit-btn:focus {
  background: var(--secondary-button-background);
  box-shadow: inset calc(-1.5 * var(--shadow-width)) calc(-1.5 * var(--shadow-width)) 0px 0px var(--shadow-color);
}

.eightbit-btn:active {
  box-shadow: inset var(--shadow-width) var(--shadow-width) 0px 0px var(--shadow-color);
}

.eightbit-btn:before,
.eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.eightbit-btn:before {
  top: calc(-1 * var(--outline-width));
  left: 0;
  border-top: var(--outline-width) black solid;
  border-bottom: var(--outline-width) black solid;
}

.eightbit-btn:after {
  left: calc(-1 * var(--outline-width));
  top: 0;
  border-left: var(--outline-width) black solid;
  border-right: var(--outline-width) black solid;
}

.eightbit-btn--reset {
  background: var(--reset-button-background);
  box-shadow: inset calc(-1 * var (--shadow-width)) calc(-1 * var(--shadow-width)) 0px 0px var(--reset-shadow-color);
}

.eightbit-btn--reset:hover,
.eightbit-btn--reset:focus {
  background: var(--reset-secondary-button-background);
  box-shadow: inset calc(-1.5 * var(--shadow-width)) calc(-1.5 * var(--shadow-width)) 0px 0px var(--reset-shadow-color);
}

.eightbit-btn--reset:active {
  box-shadow: inset var(--shadow-width) var(--shadow-width) 0px 0px var(--reset-shadow-color);
}

.eightbit-btn--proceed {
  background: var(--alt-button-background);
  box-shadow: inset calc(-1 * var(--shadow-width)) calc(-1 * var(--shadow-width)) 0px 0px var(--alt-shadow-color);
}

.eightbit-btn--proceed:hover,
.eightbit-btn--proceed:focus {
  background: var(--alt-secondary-button-background);
  box-shadow: inset calc(-1.5 * var(--shadow-width)) calc(-1.5 * var(--shadow-width)) 0px 0px var(--alt-shadow-color);
}

.eightbit-btn--proceed:active {
  box-shadow: inset var(--shadow-width) var(--shadow-width) 0px 0px var(--alt-shadow-color);
}

.svg-wrapper .node-tooltip {
  background: #041237;
  /* color: #041237;
  border-radius: 0;
  border: 2px solid #041237; */
  border-image-slice: 10 10 10 10;
  border-image-width: 8px 8px 8px 8px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-black.png');
  border-style: solid;
  max-width: 400px;
}

.svg-wrapper .node-tooltip .arrow {
  background-color: #04123700;
}

.img-border-black {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 8px 8px 8px 8px;
  border-image-source: url('../../public/img/borders/pixel-border-black.png');
  border-style: solid;
}
.img-border-black--small {
  border-image-slice: 10 10 10 10;
  border-image-width: 6px 6px 6px 6px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-cyan.png');
  border-style: solid;
}
.img-border-blue {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-blue.png');
  border-style: solid;
}
.img-border-brown {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-brown.png');
  border-style: solid;
}
.img-border-cyan {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-cyan.png');
  border-style: solid;
}
.img-border-green {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-green.png');
  border-style: solid;
}
.img-border-pink {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-inset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-pink.png');
  border-style: solid;
}
.img-border-quartz {
  border-image-slice: 10 10 10 10;
  border-image-width: 12px 12px 12px 12px;
  border-image-outset: 0 4px 0 4px;
  border-image-source: url('../../public/img/borders/pixel-border-quartz.png');
  border-style: solid;
}
.img-border-red {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-red.png');
  border-style: solid;
}
.img-border-white {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-white.png');
  border-style: solid;
}

.section-wrapper {
  border-image-slice: 10 10 10 10;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 10px 10px 10px 10px;
  border-image-source: url('../../public/img/borders/pixel-border-cyan.png');
  border-style: solid;
}
