@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
#root {
  /* width: 100%; */
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

/* Font-face definitions */
@font-face {
  font-family: 'Alagard';
  src: url('../../public/fonts/alagard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraftia-Regular';
  src: url('../../public/fonts/Minecraftia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('../../public/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* CSS variables */
:root {
  --outline-width: 4px;
  --shadow-width: 4px;

  --button-background: #30bce2;
  --secondary-button-background: #27c9f5;
  --inventory-background: #4c4449;
  --shadow-color: #336fa0;

  --text-primary: #30bce2;
  --text-secondary: #27c9f5;
  --text-light: #f5f5f5;

  --color-primary: #30bce2;
  --color-secondary: #ffcdcc;
}

/* Global styles */

html {
  scroll-behavior: smooth !important;
}
body {
  /* overflow: hidden; */
}
/* 
.scroll-snap-parent {
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100svh;
  scroll-behavior: smooth !important;
}

.scroll-snap-child {
  scroll-snap-align: center;
  scroll-margin-top: 0px;
}
@media (max-width: 768px) {
  .scroll-snap-child {
    scroll-margin-top: 0;
  }
} */

.project-html--wrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.project-html {
  max-width: 100%;
  background: #fff;
  max-height: 100%;
  border-radius: 6px;
}
.project-html--wrapper > div {
  position: absolute;
  width: 50svw;
  height: 100%;
  left: 0;
  z-index: 1;
}

.project-html--wrapper div > div {
  position: absolute;
  width: 100%;
  @apply container mx-auto;
  height: 80svh;
  left: 0;
  z-index: 10;
  border-radius: 8px;
}

.project-iframe {
  border: none;
  border-radius: 0 0 6px 6px;
}

.card-game-canvas {
  @apply w-full h-full bg-red-500/30;
  position: absolute !important;
  inset: 0;
  z-index: 0;
}

.text-shadow-lg {
  text-shadow: 4px 3px 0px var(--shadow-color);
}

.text-shadow-md {
  text-shadow: 3px 2px 0px var(--shadow-color);
}

.text-shadow-sm {
  text-shadow: 2px 1px 0px var(--shadow-color);
}

/* Button styles */
.eightbit-btn {
  background: var(--button-background);
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  /* color: white; */
  box-shadow: inset calc(-1 * var(--shadow-width)) calc(-1 * var(--shadow-width)) 0px 0px var(--shadow-color);
}

.eightbit-btn:hover,
.eightbit-btn:focus {
  background: var(--secondary-button-background);
  box-shadow: inset calc(-1.5 * var(--shadow-width)) calc(-1.5 * var(--shadow-width)) 0px 0px var(--shadow-color);
}

.eightbit-btn:active {
  box-shadow: inset var(--shadow-width) var(--shadow-width) 0px 0px var(--shadow-color);
}

.eightbit-btn:before,
.eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.eightbit-btn:before {
  top: calc(-1 * var(--outline-width));
  left: 0;
  border-top: var(--outline-width) black solid;
  border-bottom: var(--outline-width) black solid;
}

.eightbit-btn:after {
  left: calc(-1 * var(--outline-width));
  top: 0;
  border-left: var(--outline-width) black solid;
  border-right: var(--outline-width) black solid;
}

.eightbit-btn--reset {
  background: var(--reset-button-background);
  box-shadow: inset calc(-1 * var (--shadow-width)) calc(-1 * var(--shadow-width)) 0px 0px var(--reset-shadow-color);
}

.eightbit-btn--reset:hover,
.eightbit-btn--reset:focus {
  background: var(--reset-secondary-button-background);
  box-shadow: inset calc(-1.5 * var(--shadow-width)) calc(-1.5 * var(--shadow-width)) 0px 0px var(--reset-shadow-color);
}

.eightbit-btn--reset:active {
  box-shadow: inset var(--shadow-width) var(--shadow-width) 0px 0px var(--reset-shadow-color);
}

.eightbit-btn--proceed {
  background: var(--alt-button-background);
  box-shadow: inset calc(-1 * var(--shadow-width)) calc(-1 * var(--shadow-width)) 0px 0px var(--alt-shadow-color);
}

.eightbit-btn--proceed:hover,
.eightbit-btn--proceed:focus {
  background: var(--alt-secondary-button-background);
  box-shadow: inset calc(-1.5 * var(--shadow-width)) calc(-1.5 * var(--shadow-width)) 0px 0px var(--alt-shadow-color);
}

.eightbit-btn--proceed:active {
  box-shadow: inset var(--shadow-width) var(--shadow-width) 0px 0px var(--alt-shadow-color);
}

.svg-wrapper .node-tooltip {
  background: #041237;
  /* color: #041237;
  border-radius: 0;
  border: 2px solid #041237; */
  border-image-slice: 10 10 10 10;
  border-image-width: 8px 8px 8px 8px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-black.png');
  border-style: solid;
  max-width: 400px;
}

.svg-wrapper .node-tooltip .arrow {
  background-color: #04123700;
}

.img-border-black {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 8px 8px 8px 8px;
  border-image-source: url('../../public/img/borders/pixel-border-black.png');
  border-style: solid;
}
.img-border-black--small {
  border-image-slice: 10 10 10 10;
  border-image-width: 6px 6px 6px 6px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-cyan.png');
  border-style: solid;
}
.img-border-blue {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-blue.png');
  border-style: solid;
}
.img-border-brown {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-brown.png');
  border-style: solid;
}
.img-border-cyan {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-cyan.png');
  border-style: solid;
}
.img-border-green {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-green.png');
  border-style: solid;
}
.img-border-pink {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-inset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-pink.png');
  border-style: solid;
}
.img-border-quartz {
  border-image-slice: 10 10 10 10;
  border-image-width: 12px 12px 12px 12px;
  border-image-outset: 0 4px 0 4px;
  border-image-source: url('../../public/img/borders/pixel-border-quartz.png');
  border-style: solid;
}
.img-border-red {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-red.png');
  border-style: solid;
}
.img-border-white {
  border-image-slice: 10 10 10 10;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/pixel-border-white.png');
  border-style: solid;
}
.inventory-border {
  border-image-slice: 26 26 26 26;
  border-image-width: 26px 26px 26px 26px;
  border-image-outset: 12px 12px 12px 12px;
  border-image-source: url('../../public/img/borders/inventory_background.png');
  border-style: solid;
}

.section-wrapper {
  border-image-slice: 10 10 10 10;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 10px 10px 10px 10px;
  border-image-source: url('../../public/img/borders/pixel-border-cyan.png');
  border-style: solid;
}

.nav-inventory-grid {
  display: grid;
  grid-template-columns: repeat(9, minmax(4rem, 1fr));
  grid-auto-rows: 1fr;
  background: var(--inventory-background);
}

.nav-inventory-grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.nav-inventory-grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.nav-inventory-grid > * {
  background: #5c5459;
}
.inventory-item {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid var(--color-primary); */
}

.lvl1 {
  --color-secondary: #fff;
  box-shadow: 16px 0 var(--color-secondary), -16px 0 var(--color-secondary), 0 -16px var(--color-secondary),
    0 16px var(--color-secondary), 4px 0 0 8px var(--color-secondary), -4px 0 0 8px var(--color-secondary),
    0 -4px 0 8px var(--color-secondary), 0 4px 0 8px var(--color-secondary), 20px 0 var(--color-primary),
    -20px 0 var(--color-primary), 0 -20px var(--color-primary), 0 20px var(--color-primary),
    0 0 0 12px var(--color-primary), 0 8px 0 8px var(--color-primary), 0 -8px 0 8px var(--color-primary),
    8px 0 0 8px var(--color-primary), -8px 0 0 8px var(--color-primary);
  margin: 20px auto;
}

.lvl2 {
  box-shadow: 4px 0 var(--color-primary), -4px 0 var(--color-primary), 0 -4px var(--color-primary),
    0 4px var(--color-primary), 8px 0 var(--color-secondary), -8px 0 var(--color-secondary),
    0 -8px var(--color-secondary), 0 8px var(--color-secondary), 0 0 0 4px var(--color-secondary);
  margin: 8px auto;
}
