@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
#root {
  /* width: 100%; */
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

/* Font-face definitions */
@font-face {
  font-family: 'Alagard';
  src: url('../../public/fonts/alagard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraftia-Regular';
  src: url('../../public/fonts/Minecraftia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('../../public/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* CSS variables */
:root {
  --outline-width: 4px;
  --shadow-width: 4px;

  --button-background: #30bce2;
  --secondary-button-background: #27c9f5;
  --inventory-background: #4c4449;
  --shadow-color: #336fa0;

  --text-primary: #30bce2;
  --text-secondary: #27c9f5;
  --text-light: #f5f5f5;

  --color-primary: #30bce2;
  --color-secondary: #ffcdcc;
  --gold-border: #cb983c;
}

/* Global styles */

html {
  scroll-behavior: smooth !important;
}

.project-html--wrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.project-html {
  max-width: 100%;
  background: #fff;
  max-height: 100%;
  border-radius: 6px;
}
.project-html--wrapper > div {
  position: absolute;
  width: 50svw;
  height: 100%;
  left: 0;
  z-index: 1;
}

.project-html--wrapper div > div {
  position: absolute;
  width: 100%;
  @apply container mx-auto;
  height: 80svh;
  left: 0;
  z-index: 10;
  border-radius: 8px;
}

.project-iframe {
  border: none;
  border-radius: 0 0 6px 6px;
}

.card-game-canvas {
  @apply w-full h-full bg-red-500/30;
  position: absolute !important;
  inset: 0;
  z-index: 0;
}

.text-shadow-lg {
  text-shadow: 4px 3px 0px var(--shadow-color);
}

.text-shadow-md {
  text-shadow: 3px 2px 0px var(--shadow-color);
}

.text-shadow-sm {
  text-shadow: 2px 1px 0px var(--shadow-color);
}

.svg-wrapper .node-tooltip {
  background: var(--inventory-background);
  border-image-slice: 26 26 26 26;
  border-image-width: 26px 26px 26px 26px;
  border-image-outset: 6px 6px 6px 6px;
  border-image-source: url('../../public/img/borders/inventory_background.png');
  border-style: solid;
  max-width: 320px;
}

.svg-wrapper .node-tooltip .arrow {
  background-color: var(--gold-border);
}

.inventory-border {
  border-image-slice: 26 26 26 26;
  border-image-width: 26px 26px 26px 26px;
  border-image-outset: 10px 10px 10px 10px;
  border-image-source: url('../../public/img/borders/inventory_background.png');
  border-style: solid;
}

.inventory-border-sm {
  border-image-slice: 26 26 26 26;
  border-image-width: 26px 26px 26px 26px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-source: url('../../public/img/borders/inventory_background.png');
  border-style: solid;
}

.nav-inventory-grid {
  display: grid;
  grid-template-columns: repeat(9, minmax(4rem, 1fr));
  grid-auto-rows: 1fr;
  background: var(--inventory-background);
}
.inventory-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(4rem, 1fr));
  grid-auto-rows: 1fr;
  background: var(--inventory-background);
}
.nav-inventory-grid--mobile {
  grid-template-columns: repeat(6, minmax(4rem, 1fr));
}

/* media query to change grid-template-columns: repeat(6, minmax(4rem, 1fr)); to grid-template-columns: repeat(3, minmax(4rem, 1fr)); at 480px  */
@media (max-width: 480px) {
  .nav-inventory-grid--mobile {
    grid-template-columns: repeat(3, minmax(4rem, 1fr));
  }
}

.inventory-bg {
  background: var(--inventory-background);
}

.nav-inventory-grid::before,
.inventory-grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.nav-inventory-grid > *:first-child,
.inventory-grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
/* .nav-inventory-grid > * {
  background: ;
} */
.inventory-item {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid var(--color-primary); */
}

.lvl1 {
  --color-secondary: #fff;
  box-shadow: 16px 0 var(--color-secondary), -16px 0 var(--color-secondary), 0 -16px var(--color-secondary),
    0 16px var(--color-secondary), 4px 0 0 8px var(--color-secondary), -4px 0 0 8px var(--color-secondary),
    0 -4px 0 8px var(--color-secondary), 0 4px 0 8px var(--color-secondary), 20px 0 var(--color-primary),
    -20px 0 var(--color-primary), 0 -20px var(--color-primary), 0 20px var(--color-primary),
    0 0 0 12px var(--color-primary), 0 8px 0 8px var(--color-primary), 0 -8px 0 8px var(--color-primary),
    8px 0 0 8px var(--color-primary), -8px 0 0 8px var(--color-primary);
  margin: 20px auto;
}

.lvl2 {
  box-shadow: 4px 0 var(--color-primary), -4px 0 var(--color-primary), 0 -4px var(--color-primary),
    0 4px var(--color-primary), 8px 0 var(--color-secondary), -8px 0 var(--color-secondary),
    0 -8px var(--color-secondary), 0 8px var(--color-secondary), 0 0 0 4px var(--color-secondary);
  margin: 8px auto;
}
